.header{
  background-image: url("https://dalehartery.files.wordpress.com/2015/06/chalkboard.jpg");
  background-position: center;
  height:300px;
  font-size: 90px;
  color:white;
  font-family:Impact, fantasy;
  
}

