.container{
  background-image:url(https://dalehartery.files.wordpress.com/2015/06/chalkboard.jpg);
  background-color: white;
  font-family: Impact, fantasy;
}
.header{
  background-position: center;
  height:200px;
  color:white;
  font-family:Impact, fantasy;
 }
h1{
  font-size: 90px;
  margin-left:20px;
}
.pizza{
  width:300px;
  height:300px;
  float:right;
  margin-top:-50px;
  transform: rotate(20deg);
}
.place{
  font-size: 40px;
  background-color: silver;
  width:600px;
}
.order{
  font-size: 30px;
}
.radio{
  margin-left:160px;
  transform:scale(1.75);
  color:white;
}
.control-label{
  margin-top:60px;
  font-family:Impact, fantasy ;
  color: red;
  font-size: 30px;
}