.container{
  background-image:url(https://dalehartery.files.wordpress.com/2015/06/chalkboard.jpg);
  background-color: white;
  font-family: 'Bangers';
}
.header{
  background-position: center;
  height:200px;
  color:white;

 }
h1{
  font-size: 90px;
  margin-left:20px;
}
.pizza{
  width:300px;
  height:300px;
  float:right;
  margin-top:-100px;
  transform: rotate(20deg);
}
.place{
  font-size: 40px;
  background-color: silver;
  width:500px;
}

.radio{
  font-size: 15px;
  margin-left:100px;
  transform:scale(1.75);
  color:white;

}
.control-label{
  margin-top:60px;
  color: red;
  font-size: 30px;
  width:300px;
}

.charge{
  font-size: 20px;
  margin-top: -10px;;
  color:white;
}
hr {
  border:none;
  border-top:2px dotted #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}
h4{
  font-size: 30px;
  color:rgb(224, 184, 5);
}
.checkbox{
 font-size: 25px;
 color:white;
}
.total{
  font-size: 25px;
  color: #f00;
}
.btn{
  width:200px;
  height:50px;
  font-size:20px;
}
#output-price{
  font-size: 20px;
  color:rgb(224, 184, 5);
}
#output-size{
  font-size: 20px;
  color:rgb(224, 184, 5);
}
.details{
  font-size: 35px;
  color: #f00;
}
#inputtedOrder {
  font-size: 20px;
  color:white;
}